Task 2: Feb Internship Logic Building Task

Problem 1: Unique Words in a Sentence

In [1]:
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: Python is easy and powerful
Unique words count: 5
Unique words: {'easy', 'powerful', 'and', 'is', 'Python'}

Problem 2: Highest Salary from Employee Data

In [3]:
employees = {
    "Ravi":75000,
    "Anita":68000,
    "Kiran":72000
}
highest_employee = max(employees, key=employees.get)
print("Employee with highest salary:", highest_employee)
print("Highest salary:", employees[highest_employee])

Employee with highest salary: Ravi
Highest salary: 75000

Problem 3: Find Maximum and Minimum Values

In [4]:
numbers = [45, 22, 89, 10, 66]
maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
  if num > maximum:
    maximum = num
  if num < minimum:
    minimum = num
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

Problem 4: Count Products Above a Price Threshold

In [5]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
  if price > 1000:
    count += 1
print("Products above 1000:", count)

Products above 1000: 2

Problem 5: Calculate Attendance Percentage

In [6]:
attendance = ["P", "P", "A", "P", "p"]
present_count = 0
for day in attendance:
  if day == "P":
    present_count += 1
total_days = len(attendance)
percentage = (present_count / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 60.0

Problem 6: Remove Duplicate Phone Numbers

In [7]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone_numbers:", unique_numbers)

Unique phone_numbers: {9876543210, 9123456789}

Problem 7: Count Character Frequency

In [8]:
text = "python"
char_count = {}
for ch in text:
  if ch in char_count:
    char_count[ch] += 1
  else:
    char_count[ch] = 1
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

Problem 8: Convert List to Tuple

In [9]:
numbers = [10, 20, 30]
numbers_tuple = tuple(numbers)
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

Problem 9: Check if a Key Exists in a Dictionary

In [10]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key = "Ravi"
if key in employees:
  print("Employee exists")
else:
  print("Employee does not exists")

Employee exists

Problem 10: Calculate Average Marks

In [11]:
marks = [70, 75, 80, 65]
total = sum(marks)
count = len(marks)
average = total/count
print("Average marks:", average)

Average marks: 72.5